
<div class="container">
  <form [formGroup]="ProductFeedbackForm" (ngSubmit)="productFeedback()" class='card-transparent' style="border:1px solid #ccc">
    <h1> Product Feedback</h1>
    <p>Your Feedback is valuable to us.</p>
    <hr><br>
    <div class="form-group" [hidden]="!check">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="userId"><b>Feedback Details</b></label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
          <input type="text" class="form-control" formControlName="userId"  > 
          <input type="text" class="form-control" formControlName="productId" >
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="feedbackSubject"><b>Feedback Subject</b></label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
          <input type="text" class="form-control" formControlName="feedbackSubject" placeholder="Enter a short heading for your feedback">
        </div>
        <div *ngIf="submitted && ProductFeedbackForm.controls.feedbackSubject.errors" class="error">
          <div class="text-danger" *ngIf="ProductFeedbackForm.controls.feedbackSubject.errors.required">
            <font color="red">Feedback Subject is required..</font>
          </div>
          <div class="text-danger" *ngIf="ProductFeedbackForm.controls.feedbackSubject.errors.minlength">
            <font color="red">Feedback should be of minimum 15 Character long..</font>
          </div>
          <div class="text-danger" *ngIf="ProductFeedbackForm.controls.feedbackSubject.errors.maxlength">
            <font color="red">Feedback should be of maximum 30 Character long..</font>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="form-group">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <label for="feedbackMessage"><b>Feedback Message</b></label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
          <textarea class="form-control" formControlName="feedbackMessage" rows="4" cols="50"></textarea>
        </div>
        <div *ngIf="submitted && ProductFeedbackForm.controls.feedbackMessage.errors" class="error">
          <div class="text-danger" *ngIf="ProductFeedbackForm.controls.feedbackMessage.errors.required">
            <font color="red">Feedback Message is required..</font>
          </div>
          <div class="text-danger" *ngIf="ProductFeedbackForm.controls.feedbackMessage.errors.minlength">
            <font color="red">Feedback Message must be atleast 25 characters long..</font>
          </div>
          <div class="text-danger" *ngIf="ProductFeedbackForm.controls.feedbackMessage.errors.maxlength">
            <font color="red">Feedback Message must not be more than 50 characters ..</font>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="offset-lg-4 col-lg-4 offset-md-4 col-md-4 offset-sm-4 col-sm-4">
      
      <button class="btn btn-success" type="submit">Submit</button>
      <button class="btn btn-danger" type="reset" style="margin-left: 5px;">Reset</button>
      <br>

    </div><br>
  </form>
</div>