<div class="container">
  <div class="customer col-md-6 offset-md-3  border border-success rounded shadow p-4 mb-4 bg-white" >
    <h3>Customer Details</h3>
    <p><span>Name: </span>{{customerDetails.name}}</p>
    <p><span>Username: </span>{{customerDetails.username}}</p>
    <p><span>Email: </span>{{customerDetails.eMail}}</p>
    <p><span>Alernate Email: </span>{{customerDetails.alternateEmail}}</p>
    <p><span>Phone Number: </span>{{customerDetails.phoneNumber}}</p>
    <p><span>Alternate Phone Number: </span>{{customerDetails.alternatePhoneNumber}}</p>
    <p><span>Address: </span>{{customerDetails.address}}</p>
  </div>

  <ul class="navbar-nav subBar col-md-6 offset-md-3">   
    <li class="nav-item">
         <a routerLink="/updateCustomerDetails"><input type="button" class="btn btn-success" value="Make Changes In Details"/></a>
    </li>
  </ul>