.customer{
    padding: 20px;
    margin-top: 20px;
}
.customer h3{
    padding: 10px;
    text-align: center;
}
.customer p{
    padding: 5px;
}
.customer span{
    font-weight: bolder;
}

.subBar a{
    color: darkblue;
    font-weight: bolder;
    padding: 20px;
    padding-top: 30px;
    padding-left: 30px;
    text-decoration: none;
}