<!--<app-test  [parentInfo]="message" (childEvent)="result=$event"></app-test>
<div class="container">
<h2>{{result}}</h2>
</div>-->
<!--
<app-emp-list></app-emp-list>
<app-emp-details></app-emp-details>
<app-state-details></app-state-details>


<app-lab1-Main></app-lab1-Main>
<app-lab2></app-lab2>

<app-Employee></app-Employee>
<app-Emp></app-Emp>
<app-tdf></app-tdf>
<app-mdf></app-mdf>


<div class="container">
    <h1>Routing and Navigation</h1>
    <div class="row">
    <div class="col-md-4"><button class="btn btn-primary" routerLink="/tdf">Tdf</button></div>
    <div class="col-md-4"><button class="btn btn-primary" routerLink="/mdf">Mdf</button></div>
</div>
</div>
<router-outlet></router-outlet>

<app-lab3></app-lab3>
<app-book></app-book>
<app-mdfp></app-mdfp>
-->


<router-outlet></router-outlet>





