
<div class="container">
    <div *ngFor="let res of products1">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
      
        <div class="preview col-md-6">
                    
            <div class="preview-pic tab-content">
                  <div class="tab-pane active" id="pic-1"><img class="images" src={{res.productImage}}></div>
                
            </div>
           <a (click)="Cart(res)">
            <div class="details col-md-6">
                <h3 class="product-title">{{res.productName}}</h3>
                <div class="rating">
                  <div [ngSwitch]="res.productRating">
                    <div *ngSwitchCase="1">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div *ngSwitchCase="2">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div *ngSwitchCase="3">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div *ngSwitchCase="4">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                <div *ngSwitchCase="5">
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
            </div>
                </div>
                </div>
                <h6 class="price">MRP: <span style="color: black;">	&#8377;{{res.productPrice}}</span></h6>
                <p class="product-discount"><b>Discount :</b>{{res.discount}}% on MRP</p>              
        </div>
        </a>
        <hr>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
