<div class="container" *ngIf="render">
  <div style="padding: 30px;">
    <button class="btn btn-warning" style="float: right;">Check Out</button>
  </div>
  <div  *ngFor="let c of customerr.customerCarts; let i = index"
    [attr.data-index]="i">
      <div #deleteDiv class="col-md-10 md-offset-1 row cart">
      <div class="col-md-4">
        <img [src]="products1[i].productImage" height="100px" width="50%">
      </div>
      <div class="col-md-6 cartD">
        <h3>{{products1[i].productName}}</h3>
        <p><span>Quantity:</span><small>{{c.quantity}}</small></p>
        <button class="btn btn-warning" (click)="sendToWishlist(c,products1[i],deleteDiv)">Add To wishlist</button>
        <button class="btn btn-danger" *ngIf="c" style="margin-left: 20px;" (click)="deleteFromCart(c,deleteDiv)">Remove</button>
      </div>
      </div>
    </div>
  </div>
