productList{
    height: 150px;
    padding: 30px;
    box-shadow: 0px 10px 15px grey;
    margin-top: 20px;
}

.navbar {
    color:whitesmoke;
    font-weight: bolder;
}
.navbar a.sliderButton{
    font-size: 25px;
}
.nav-item{
    float: left;
}
.menu{
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    position: absolute;
    background-color: #343a40;
    color: whitesmoke;
    font-weight: bolder;
    padding: 10px;
    width: 300px;
    display: none;
    animation-name: slide;
    animation-duration: 1s;
}
@keyframes slide{
    0%{width:0%}
    100%{width: 300px;}
}
.close{
    float: right;
}
a.sliderButton:active .menu{
    display: block;
}
html, body {
    height: 100%;
    margin: 0;
}
.menu a{
    width:100%;
    float: left;
    font-weight: normal;
    padding: 20px;
    padding-left: 10px;
}
.menu a:hover{
    font-weight: bolder;
    background-color: #676764;
}
.searchBar{
    float: right;
}

.dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }  


.card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; 
    float: right;}
  .images{
      float: left;
      width:200px;
      height:200px;
  }
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .product-discount,.brand, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #b36800;
      color: #fff; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .black {
    background:black; }
  
  .green {
    background:green; }
  
  .blue {
    background:blue;}

    .productList{
      height: 150px;
      padding: 30px;
      box-shadow: 0px 10px 15px grey;
      margin-top: 20px;
     
  }